%nav.top-bar{"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1
        %a{href: "#"} Data Engineering
    %li.toggle-topbar.menu-icon
      %a{href: "#"} Menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li.active
        %a{href: "#"} Right Button Active
